.video-card {
  color: var(--text-primary);
  margin: .5rem .1rem;
  overflow: hidden;
  text-decoration: none;
  width: 300px;
}

.video-thumbnail {
  border-radius: .2rem;
  width: 300px;
  height: 169px;
  object-fit: contain;
  background-color: var(--bg-secondary);
}

.video-title {
  font-weight: bold;
}

.video-circle {
  font-size: 10px;
  margin: 0 0.5rem;
  vertical-align: middle;
}