.video-card {
  color: var(--text-primary);
  margin: .5rem .1rem;
  overflow: hidden;
  text-decoration: none;
  width: 300px;
}

.video-thumbnail {
  border-radius: .2rem;
  width: 300px;
  height: 169px;
}

.video-title {
  font-weight: bold;
}