.video-category {
  margin-bottom: 2rem;
}

.video-category-title {
  border-bottom: var(--border-primary) solid 2px;
  margin-bottom: 1rem;
}

.video-category-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px); 
  grid-gap: .3rem;
  justify-content: space-between;
}